---
import { photos } from '@/content';
import Page from '@/layouts/MainLayout.astro';
import { Image } from 'astro:assets';
---

<style is:global>
	/* Adapted from https://antfu.me/posts/sliding-enter-animation */
	@keyframes slide-enter {
		0% {
			opacity: 0;
			transform: translateY(10px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes fade-in {
		0% {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	.slide-entering-item,
	.slide-entering-content > * {
		/* Set `--entrance-position` on "sliding-entering-item" or children of "slide-entering-content". */
		--entrance-position: 0;
		--entrance-delay: 0ms;
		--entrance-duration: 700ms;
		--entrance-interval: 90ms;
		--entrance-extend: 90ms;
		animation: slide-enter ease both 1;
		animation-duration: calc(
			var(--entrance-duration) + var(--entrance-extend) * var(--entrance-position)
		);
		animation-delay: calc(
			var(--entrance-delay) + var(--entrance-interval) * var(--entrance-position)
		);
	}

	[data-slide-controller="false"] .slide-entering-item,
	[data-slide-controller="false"] .slide-entering-content > * {
		animation: none;
	}

	@media (prefers-reduced-motion: reduce) {
		.slide-entering-item,
		.slide-entering-content > * {
			--entrance-delay: 120ms;
			--entrance-duration: 120ms;
			--entrance-interval: 30ms;
			--entrance-extend: 90ms;
			animation-name: fade-in;
		}
	}

	/* Begin masonry layout styles */
	main {
		display: grid;
		grid-template-columns: 85vw;
		justify-content: center;
		gap: 6vw;
	}

	/* Two column fluid masonry layout */
	@screen sm {
		main {
			--masonry-cols: 2;
			--masonry-col-max-w: 548px;
			/* The width of a column relative to the width of the viewport. */
			--masonry-col-rel-w: 42;
			/* The size of the gutter relative to the width of the viewport. */
			--masonry-gutter-rel-size: 2;

			--masonry-track-rel-size: calc(var(--masonry-gutter-rel-size) / 2);
			--masonry-cell-aspect-ratio: calc(var(--masonry-col-rel-w) / var(--masonry-track-rel-size));
			--masonry-track-max-size: calc(var(--masonry-col-max-w) / var(--masonry-cell-aspect-ratio));

			--masonry-col-fluid-w: min(calc(1vw * var(--masonry-col-rel-w)), var(--masonry-col-max-w));
			--masonry-track-fluid-size: min(
				calc(1vw * var(--masonry-track-rel-size)),
				var(--masonry-track-max-size)
			);

			grid-auto-rows: var(--masonry-track-fluid-size);
			grid-template-columns: repeat(var(--masonry-cols), var(--masonry-col-fluid-w));
			column-gap: calc(2 * var(--masonry-track-fluid-size));
			row-gap: 0;
		}

		/* Set child element's grid-row span based on its aspect-ratio. */
		main > div {
			--masonry-item-aspect-ratio: calc(var(--w) / var(--h));
			--masonry-item-row-span: calc(
				var(--masonry-cell-aspect-ratio) / var(--masonry-item-aspect-ratio)
			);
			grid-row: span calc(var(--masonry-item-row-span) + 2);
			padding-block: var(--masonry-track-fluid-size);
		}
	}

	/* Three column fluid masonry layout */
	@screen xl {
		main {
			--masonry-cols: 3;
			--masonry-col-rel-w: 28;
		}
	}
</style>

<Page
	title="Photos"
	description="Some of my favorite photos that I've taken"
	class="pt-30 md:pt-36"
>
	<script>
		addEventListener("pageshow", (ev) => {
			// @ts-expect-error "persisted" does not esist on `Event`
			if (ev.persisted) document.querySelector("main")!.dataset.slideController = "false";
		});
	</script>

	{
		photos.map((photo, i) => {
			const { slug, file, alt } = photo;
			const { height: h, width: w } = file;
			return (
				<div class="slide-entering-item" style={{ "--entrance-position": i, "--h": h, "--w": w }}>
					<figure class="size-full overflow-clip border-12 border-white bg-white shadow-lg transition duration-350 hover:shadow-xl media-[(hover:hover)_and_(pointer:fine)]:hover:scale-102">
						<a href={`/photos/${slug}`}>
							<Image src={file} {alt} loading="eager" class="size-full object-cover" />
						</a>
					</figure>
				</div>
			);
		})
	}
</Page>
