---
import { Image } from "astro:assets";
import Page from "@/layouts/MainLayout.astro";
import { photos } from "@/content";

const columns = [[], [], []];
photos.forEach((img, i) => columns[i % 3].push(img));
---

<Page
  title="Photos"
  class={`
    pt-30 md:pt-36 gap-8
    container mx-auto px-8
    grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3
  `}
>
  {
    columns.map(col => (
      <div class="flex flex-col gap-8">
        {
          col.map(img => (
            <div class="
              border-12 border-white rounded-lg
              transition duration-200
              hover:scale-105
              shadow-md hover:shadow-lg
            ">
              <a href={`/photos`}>
                <Image { ...img } class="object-scale-down"/>
              </a>
            </div>
          ))
        }
      </div>
    ))
  }
</Page>
