---
import type { HTMLAttributes } from "astro/types";
import { env } from "@/utils"
import { socialsInfo } from "@/content";

type Props = HTMLAttributes<"address">;
const { class: className } = Astro.props;
---

<address class:list={["", className]}>
  <ul>
    {import.meta.env.DEV && env.EMAIL && <li>{env.EMAIL}</li>}
    {import.meta.env.DEV && env.PHONE && <li>{env.PHONE}</li>}
    <li><a href={socialsInfo.data.github.url}>{socialsInfo.data.github.username}</a></li>
  </ul>
</address>
