---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & { text: string };

const {
  class: className,
  href,
  title,
  text,
} = Astro.props;
---

<a
  class:list={[
    "underline",
    className
  ]}
  href={href}
>
  <span class="sm:after:content-[':']">{title}</span>
  <span class="hidden sm:inline">{text}</span>
</a>
