---
import type { CvEntry } from "@/content";

type Props = {
  entry: CvEntry<"skills">;
  class?: string;
};

const { entry, class: className } = Astro.props;
const { Content } = await entry.render();
---

<style>
  details > summary::-webkit-details-marker,
  details > summary::marker {
    display: none;
    content: "";
  }

  details > summary::after {
    content: " +";
  }

  details[open] > summary::after {
    content: " -";
  }
</style>

<details class:list={["", className]}>
  <summary class="[&_*]:inline mb-2 text-lg">
    <h3 class="font-600">
      {entry.data.category}
    </h3>
  </summary>
  <div class="[&_ul]:mb-5 [&_ul]:ml-[2ch]">
    <Content />
  </div>
</details>
