---
type Props = { heading: string };

const { heading } = Astro.props;
---

<section class="mt-6">
  <h2 class="mb-4 font-600 text-xs text-slate-400 uppercase tracking-[0.2em]">{heading}</h2>
  <slot />
</section>
