---
import type { CollectionEntry } from "astro:content";

type Props = { entry?: CollectionEntry<"cv"> };
const { entry } = Astro.props;
let Content;

if (entry) {
  const rendered = await entry.render();
  Content = rendered.Content;
}
---

<style>
article > div :global(li) {
  margin-bottom: 0.3rem;
}
</style>

<article class="m-3 mb-5">
  <header class="mb-2">
    {Astro.slots.has("heading") && (
      <h3 class="font-600 text-slate-700 text-lg tracking-tight">
        <slot name="heading"/>
      </h3>
    )}
    {Astro.slots.has("subheading") && (
      <p class="leading-tight font-500 text-slate-400">
        <slot name="subheading"/>
      </p>
    )}
    <slot name="after-subheading"/>
  </header>
  {Content && (
    <div class="leading-tight text-slate-700">
      <Content />
    </div>
  )}
</article>
