---
import type { HTMLAttributes } from "astro/types";
import { BUILD, PERSONAL_EMAIL, PERSONAL_PHONE } from "astro:env/server";
import { socials } from "@/content";

// Explicitly define array to specify order of dynamically-generated elements
const links = [
  { text: "Website", href: import.meta.env.SITE, icon: "ph:globe" },
  { ...socials.linkedin, icon: "ph:linkedin-logo" },
  { ...socials.github, icon: "ph:github-logo" },
];

if (BUILD === "personal") {
  links.unshift(
    { text: PERSONAL_EMAIL, href: `mailto:${PERSONAL_EMAIL}`, icon: "ph:envelope" },
    { text: PERSONAL_PHONE, href: `tel:${PERSONAL_PHONE}`, icon: "ph:phone-outgoing" },
  );
}

const titleLink = import.meta.env.PROD ? import.meta.env.SITE : "/";

type Props = HTMLAttributes<"header">;
---

<header class:list={[Astro.props.class]}>
  <h1 class="mb-4 min-w-fit text-4xl text-slate-900 font-600 tracking-tighter">
    <a class="group flex gap-x-2" href={titleLink}>
      <span
        aria-hidden="true"
        class="hidden text-slate-200 transition duration-300 ease-out -ml-7 sm:inline group-hover:text-slate-300 hover:ease-in hover:text-sky-300!"
      >#</span>
      <span
        class="underline decoration-3 decoration-sky-500 underline-offset-3 transition duration-600 ease-out group-hover:text-sky-950 group-hover:decoration-sky-400 group-hover:ease-in"
      >
        Sandeep Dilip
      </span>
    </a>
  </h1>

  <div class="text-sm tracking-tight sm:text-base">
    <p class="mb-1 text-slate-700 font-normal">Full-Stack Engineer</p>

    <address class="font-375 tracking-tight not-italic -ml-3">
      <ul class="flex flex-wrap justify-start">
        {
          links.map((link) => {
            if (!link)
              return null;
            const { text, icon: _, ...attrs } = link;
            return (
              <li class="border-r-1.5 px-3 text-slate-500 last:border-r-0">
                <a
                  class="underline decoration-1.5 decoration-slate-200 underline-offset-2 transition duration-300 hover:text-sky-900 print:decoration-1.5 hover:decoration-sky-400 print:decoration-slate-200"
                  {...attrs}
                >{text}</a>
              </li>
            );
          })
        }
      </ul>
    </address>
  </div>
</header>
