---
import type { CvEntry } from '@/content';
import type { ComponentProps } from 'astro/types';
import { render } from 'astro:content';
import Entry from './BaseEntry.astro';

type Props = ComponentProps<typeof Entry> & { entry: CvEntry<'skills'> };
const { entry } = Astro.props;
const { Content } = await render(entry);
---

<style>
	div > :global(ul) {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
	}

	div > :global(ul > li) {
		padding-inline: 0.5rem;
		background: theme("colors.slate.100");
	}
</style>

<Entry class={Astro.props.class} heading={entry.data.skills}>
	<div class="pl-3 font-medium axis-casl-1 axis-crsv-1 axis-mono-0.5 all-[li]:list-none">
		<Content />
	</div>
</Entry>
