---
import Page from '../layouts/MainLayout.astro';
---

<Page
  title="About Sandeep Dilip"
  class="flex flex-col justify-center items-center"
>
  <section class="pb-[10vh]">
    <h1 class="font-quicksand text-9xl sm:text-[20vw]">404</h1>
  </section>
</Page>
