---
import Page from '../layouts/MainLayout.astro';
---

<Page
  title="Page not found"
  class="flex flex-col justify-center items-center"
>
  <section class="pb-[10vh] text-center text-sky-950">
    <h1 class="font-quicksand font-350 text-9xl sm:text-[20vw]">404</h1>
    <p class="font-redhat text-3xl">Page not found</p>
  </section>
</Page>
