---
import {
  cvEntries,
  createCvEntryTypeGuard as isType,
} from "@/content";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Section from "@/components/resume/BaseSection.astro";
import Entry from "@/components/resume/BaseEntry.astro";

const objective = cvEntries.find(entry => entry.slug === "objective")!;
const experience = cvEntries.filter(isType("experience"));

const { Content: Objective } = await objective.render();
---

<BaseLayout title="Sandeep Dilip's Resume">
  <header>
    <h1>Sandeep Dilip</h1>
  </header>

  <main>
    <Section heading="Objective">
      <Objective />
    </Section>

    <Section heading="Experience">
      {
        experience.filter(exp => !exp.data.internship).map(async (exp) => {
          const { Content } = await exp.render();
          return (
            <Entry>
              <h3 slot="heading">{exp.data.title}</h3>
              <p slot="subheading">{exp.data.employer.name}</p>
              <Content />
            </Entry>
          )
        })
      }
    </Section>
  </main>
</BaseLayout>
