---
import {
  cvEntries,
  createCvEntryTypeGuard as isType,
} from "@/content";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Section from "@/components/resume/BaseSection.astro";
import Entry from "@/components/resume/BaseEntry.astro";
import ProjectEntry from "@/components/resume/ProjectEntry.astro";

const objective = cvEntries.find(entry => entry.slug === "objective")!;
const experience = cvEntries.filter(isType("experience"));
const projects = cvEntries.filter(isType("project"));

const { Content: Objective } = await objective.render();
---

<BaseLayout title="Sandeep Dilip's Resume">
  <header>
    <h1>Sandeep Dilip</h1>
  </header>

  <main>
    <Section heading="Objective">
      <Objective />
    </Section>

    <Section heading="Experience">
      {
        experience.filter(exp => !exp.data.internship).map(exp => {
          return (
            <Entry entry={exp}>
              <h3>{exp.data.title}</h3>
              <p>{exp.data.employer.name}</p>
            </Entry>
          )
        })
      }
    </Section>

    <Section heading="Projects">
      {
        projects.filter(proj => !proj.data.draft).map(proj => <ProjectEntry entry={proj} />)
      }
    </Section>
  </main>
</BaseLayout>
