---
import Layout from '../layouts/MainLayout.astro';
---

<Layout title="About Sandeep Dilip">
  <article class="w-prose mx-auto px-4 h-96 items-center">
    <h1 class="text-2xl">About me</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae
      tenetur fugit minima iusto dignissimos. Ad ex neque reprehenderit,
      saepe qui mollitia sunt magni. Numquam cum tempore facere ab vel
      ipsam.
    </p>
  </article>
</Layout>
