---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Sandeep Dilip">
  <main>
    <div class="flex h-96 items-center">
      <h1 class="mx-auto text-2xl">About me</h1>
    </div>
  </main>
</Layout>
