---
import Page from "@/layouts/MainLayout.astro";
import { links } from "@/content";
---

<Page
  title="Contact"
  class="flex flex-col justify-center items-center"
>
  <address class="font-redhat text-sky-950">
    <ul>
      {
        links.socials.map(link => {
          const { text, ...attrs } = link;
          return (
            <li class="m-2">
              <a {...attrs}>
                <span>{text}</span>
                <div class="i-carbon-link mx-1 inline-block"></div>
              </a>
            </li>
          );
        })
      }
    </ul>
  </address>
</Page>
