---
import Page from "@/layouts/MainLayout.astro";
import Icon from "@/components/Icon.astro";
import { links } from "@/content";
---

<Page
  title="Contact"
  class="flex flex-col justify-center items-center"
>
  <address>
    <ul>
      {
        links.socials.map(({ text, icon, ...attrs }) => (
          <li class="mb-4">
            <a
              { ...attrs }
              class="
                flex items-center
                gap-2 sm:gap-0
                font-quicksand font-430
                not-italic text-sky-950
                tracking-tighter
                sm:font-450
                sm:text-7xl md:text-8xl
                transition duration-200
                hover:text-sky-500
              "
            >
              <Icon
                name={icon}
                label={text}
                class="lt-sm:text-[15vh]"
              />
              <span class="
                lt-sm:hidden
              ">
                {text}
              </span>
            </a>
          </li>
        ))
      }
    </ul>
  </address>
</Page>
