---
import Page from "@/layouts/MainLayout.astro";
import Icon from "@/components/Icon.astro";
import { links } from "@/content";
---

<Page
  title="Contact"
  class="flex flex-col justify-center items-center"
>
  <address>
    <ul>
      {
        links.socials.map(({ text, icon, ...attrs }) => (
          <li class="mb-4">
            <a
              { ...attrs }
              class="
                flex items-center
                font-quicksand font-450
                not-italic text-sky-950
                tracking-tighter
                text-7xl md:text-8xl
                transition duration-200
                hover:text-sky-500
              "
            >
              <Icon name={icon} label={text}/>
              <span class="lt-sm:hidden">{text}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </address>
</Page>
