---
import Page from "@/layouts/MainLayout.astro";
import { Icon } from "astro-icon/components";
import { links } from "@/content";
---

<Page
  title="Contact"
  description="Sandeep Dilip's links to social media and contact information"
  class="flex flex-col place-items-center"
>
  <address
    style={{
      paddingTop: "min(20svh, 256px)",
      paddingBottom: "min(40vmin, 256px)",
    }}
  >
    <ul>
      {
        links.socials.map(({ text, icon, ...attrs }) => (
          <li class="mb-4">
            <a
              { ...attrs }
              class="
                flex items-center
                font-quicksand font-450
                not-italic text-sky-950
                tracking-tighter
                text-7xl md:text-8xl
                transition duration-200
                hover:text-sky-500
              "
            >
              {icon && <Icon name={icon} class="size-[1.2em]"/>}
              <span class="lt-sm:hidden">{text}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </address>
</Page>
