---
import Page from "@/layouts/MainLayout.astro";
---

<Page
  title="Contact"
  class="flex flex-col justify-center items-center"
>
  <address class="font-redhat text-sky-950">
    <ul>
      <li><a>Email</a></li>
      <li><a>GitHub</a></li>
      <li><a>LinkedIn</a></li>
    </ul>
  </address>
</Page>
