---
import { Image } from "astro:assets";
import Layout from "@/layouts/MainLayout.astro";
import Memoji from "@/components/Memoji.astro";
import { photos } from "@/content";

const photoSamples = photos.slice(0, 5);
---

<Layout
  class="flex flex-col place-items-center"
  fixed-banner={false}
>
  <section
    class="flex flex-col place-content-center"
    style={{
      paddingTop: "min(20svh, 256px)",
      paddingBottom: "min(40vmin, 256px)",
    }}
  >
    <div class="relative flex flex-col place-items-center gap-4 sm:flex-row">
      <Memoji class="w-48 lg:w-72 md:w-56" />
      <h1 class="py-4 text-center text-3xl font-500 tracking-tight font-quicksand sm:p-6 sm:text-left lg:text-7xl md:text-5xl sm:text-4xl lg:leading-[1.1] lt-lg:leading-tight md:tracking-tighter">
        Hi! My name is<br>
        <b class="text-[1.25em]">Sandeep Dilip</b>
      </h1>
    </div>
  </section>

  <hr class="w-4/5">

  <section class="mx-4 py-24">
    <h2 class="mb-4 text-center text-xl font-500 font-quicksand lg:text-5xl md:text-3xl sm:text-2xl">
      I'm a software engineer and<br>
      <strong class="text-[1.25em]">I love programming!</strong>
    </h2>
  </section>

  <hr class="w-4/5">

  <section class="py-24">
    <h2 class="mb-8 text-center text-xl font-500 font-quicksand md:text-3xl sm:text-2xl">
      I also like taking pictures
    </h2>
    <div class="h-50 w-full flex items-center gap-6 overflow-x-auto px-8 pb-8 lg:h-68 md:h-62 sm:h-56">
      {
        photoSamples.map(({ slug: _, file, alt }) => (
          <figure class="h-full shrink-0 border-12 border-white shadow-md">
            <Image src={file} {alt} class="h-full w-50 object-cover lg:w-96 md:w-72 sm:w-60" />
          </figure>
        ))
      }
    </div>
  </section>

  <hr class="w-4/5">

  <section class="mx-4 py-48">
    <h2 class="mb-8 text-center text-xl font-500 font-quicksand md:text-4xl sm:text-3xl">
      <a href="/contact" class="group link">
        You can find me online
        <span class="i-ph-arrow-right ml-1 transition-transform duration-200 group-hover:translate-x-2"></span>
      </a>
    </h2>
  </section>
</Layout>
