---
import Layout from '../layouts/MainLayout.astro';
import Card from '../components/Card.astro';
---

<Layout
  title="Sandeep Dilip's homepage"
  class="flex flex-col justify-center items-center"
>
  <section>
    <div>
      <h1 class="font-quicksand bg-clip-text text-transparent bg-gradient-to-r from-sky-500 to-pink-500 tracking-tight font-600 text-6xl">Hello World!</h1>
    </div>
  </section>
</Layout>
