---
import Layout from "@/layouts/MainLayout.astro";
import Memoji from "@/components/Memoji.astro";
---

<Layout
  class="flex flex-col place-items-center"
>
  <section class="h-screen flex flex-col place-content-center">
    <div class="relative flex flex-col sm:flex-row place-items-center gap-4">
      <div class="
        -z-50 absolute inset-0
        bg-gradient-to-tr from-white
        blur-3xl
      "/>
      <Memoji class="w-48 md:w-56 lg:w-72"/>
      <h1 class="
        py-4 sm:p-6
        font-quicksand font-500
        text-sky-950
        text-2xl sm:text-4xl md:text-5xl lg:text-7xl
        text-center sm:text-left
        tracking-tight md:tracking-tighter
        lt-lg:leading-tight lg:leading-[1.1]
      ">
        Hi! My name is<br/>
        <b class="text-[1.25em]">Sandeep Dilip</b>
      </h1>
    </div>
  </section>

  <section class="min-h-[75vh] flex flex-col place-content-center">
    <h2 class="font-quicksand text-xl text-center">I also like taking pictures.</h2>
  </section>

  <section class="min-h-[75vh] flex flex-col place-content-center">
    <h2 class="font-quicksand text-xl text-center">You can find me on these platforms.</h2>
  </section>
</Layout>
