---
import Layout from "@/layouts/MainLayout.astro";
import Memoji from "@/components/Memoji.astro";
---

<Layout
  title="Sandeep Dilip's homepage"
  class="flex flex-col justify-center items-center divide-y-6"
>
  <section class="flex flex-col sm:flex-row justify-center items-center">
    <Memoji class="w-42 sm:w-48 lg:w-56 m-3"/>
    <h1 class="min-w-max m-4 p-6 border-x-4 text-center md:text-left font-quicksand tracking-tight md:tracking-tighter font-500 text-xl sm:text-2xl lg:text-4xl text-sky-950 ">
      My name is <b>Sandeep Dilip</b> <br />and I'm a software developer.
    </h1>
  </section>
</Layout>
