---
import { Image } from "astro:assets";
import Layout from "@/layouts/MainLayout.astro";
import Memoji from "@/components/Memoji.astro";
import { photos } from "@/content";

const photoSamples = photos.slice(0, 5);
---

<Layout
  class="flex flex-col place-items-center"
>
  <section class="h-screen flex flex-col place-content-center">
    <div class="relative flex flex-col sm:flex-row place-items-center gap-4">
      <div class="
        -z-50 absolute inset-0
        bg-gradient-to-tr from-white
        blur-3xl
      "/>
      <Memoji class="w-48 md:w-56 lg:w-72"/>
      <h1 class="
        py-4 sm:p-6
        font-quicksand font-500
        text-sky-950
        text-2xl sm:text-4xl md:text-5xl lg:text-7xl
        text-center sm:text-left
        tracking-tight md:tracking-tighter
        lt-lg:leading-tight lg:leading-[1.1]
      ">
        Hi! My name is<br aria-hidden="true"/>
        <b class="text-[1.25em]">Sandeep Dilip</b>
      </h1>
    </div>
  </section>

  <hr class="-mt-[15vh] w-80%"/>

  <section class="my-[15vh] mx-4">
    <h2 class="
      font-quicksand font-500
      text-center mb-4
      text-xl sm:text-3xl md:text-4xl lg:text-6xl
    ">
      I'm a software developer and<br/>
      <b class="text-[1.25em]">I love programming!</b>
    </h2>
  </section>

  <hr class="w-80%"/>

  <section class="mt-24">
    <h2 class="
      font-quicksand font-500
      text-center mb-8
      text-xl sm:text-3xl md:text-4xl
    ">
      I also like taking pictures
    </h2>
    <div class="
      flex items-center gap-6
      px-8 pb-8
      w-full
      h-50 sm:h-56 md:h-62 lg:h-68
      overflow-x-auto
    ">
      {
        photoSamples.map(({ slug: _, ...attrs }) => (
          <figure class="shrink-0 border-white border-12 shadow-md h-full">
            <Image { ...attrs } class={`
              object-cover h-full
              w-50 sm:w-60 md:w-72 lg:w-96
            `}/>
          </figure>
        ))
      }
    </div>
  </section>

  <hr class="my-[15vh] w-80%"/>

  <section class="mx-4">
    <h2 class="
      font-quicksand font-500
      text-center mb-8
      text-xl sm:text-3xl md:text-4xl
    ">
      <a href="/contact" class="group link">
        You can find me online
        <span class="
          ml-1 i-ph-arrow-right
          transition-transform duration-200
          group-hover:translate-x-2
        "></span>
      </a>
    </h2>
  </section>
</Layout>
