---
import Layout from '../layouts/MainLayout.astro';
---

<Layout title="Sandeep Dilip's Work">
  <main>
    <div class="flex h-96 items-center">
      <h1 class="mx-auto text-2xl">My work</h1>
    </div>
  </main>
</Layout>
