---
import GithubSlugger from "github-slugger";

const slugger = new GithubSlugger();

type Props = {
  heading: string;
  class?: string;
};

const { heading, class: className } = Astro.props;

const id = slugger.slug(heading);
---

<section class:list={["mt-6 mx-2", className]}>
  <h2 id={id} class="mb-4 ml-2 break-after-avoid text-xs font-800 uppercase">
    <a href={("#").concat(id)} class="flex whitespace-nowrap">
      <span aria-hidden="true" class="text-slate-300">##</span>
      <span class="mx-1 px-1 text-slate-500 tracking-[0.2em]">{heading}</span>
      <span aria-hidden="true" class="inline-block h-0.5 w-full self-center bg-slate-200"></span>
    </a>
  </h2>
  <slot />
</section>
