---
import type { CvEntry } from "@/content";

type Props = {
  entry: CvEntry<"skills">;
  class?: string;
};

const { entry, class: className } = Astro.props;
const { Content } = await entry.render();
---

<details
  id={`${entry.slug}`}
  class:list={[className, "group"]}
>
  <summary class="flex items-center mt-4 text-lg leading-snug font-650 cursor-pointer lg:cursor-auto">
    <span class="underline underline-offset-2 decoration-2 decoration-slate-400 lg:no-underline">{entry.data.skills}</span>
    <span aria-hidden class="lg:hidden ml-1 inline-block transition duration-200 rotate-180 opacity-0 group-open:opacity-100 group-open:rotate-0">-</span>
    <span aria-hidden class="-ml-[1ch] inline-block transition duration-200 rotate-0 opacity-100 group-open:opacity-0 group-open:rotate-180">+</span>
  </summary>
  <div class="ml-3 mt-2 font-375 leading-snug">
    <Content />
  </div>
</details>
