---
import Section from "./BaseSection.astro";
import {
  compareCvEntries,
  cvEntries,
  createCvEntryTypeGuard as isType,
} from "@/content";

const skills = cvEntries.filter(isType("skills")).sort(compareCvEntries);
---

<style>
  h3 ~ :global(ul) {
    margin-inline-start: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 65ch;
    gap: 0.5rem;
  }

  h3 ~ :global(ul > li) {
    padding-inline: 0.5rem;
    background: theme(colors.slate.100);
  }
</style>

<Section heading="Skills">
  <div class="m-3">
    {
      skills.map(category => (
        <>
          <h3 class="mb-1.5 mt-3 text-lg text-slate-700 font-650">
            {category.data.skills}
          </h3>
          <>
            {category.render().then(({ Content }) => (
              <Content />
            ))}
          </>
        </>
      ))
    }
  </div>
</Section>
