---
import slugger from "github-slugger";
import type { CvEntry } from "@/content";

type Props = {
  entry: CvEntry<"skills">;
  class?: string;
};

const { entry, class: className } = Astro.props;
const { Content } = await entry.render();
---

<details
  id={`${entry.slug}`}
  class:list={[className, "group"]}
>
  <summary class="mb-2 text-lg font-600 cursor-pointer lg:cursor-auto">
    <span class="underline lg:no-underline">{entry.data.skills}</span>
    <span class="group-open:hidden">+</span>
  </summary>
  <div class="ml-2">
    <Content />
  </div>
</details>
