---
import { links } from "@/content";

type Props = { class?: string };

const groups = [
  links.pages,
  links.resources,
  links.socials
];

const { class: className } = Astro.props;
---

<footer class:list={[
  "container mx-auto p-8",
  "font-redhat font-450 text-sky-950",
  className
]}>
  <nav class="flex justify-between">
    {groups.map(group => (
      <ul>
        {
          group.map(link => {
            const { text, ...attrs } = link;
            return <li class="m-2"><a {...attrs}>{text}</a></li>;
          })
        }
      </ul>
    ))}
  </nav>
</footer>
