---
import { links as linkGroups } from "@/content";

const groups = [
  linkGroups.pages,
  linkGroups.resources,
  linkGroups.socials
];
---

<footer class="container mx-auto p-8">
  <nav class="flex justify-between text-zinc-600">
    {groups.map(group => (
      <ul>
        {
          group.map(link => {
            const { text, ...attrs } = link;
            return <li class="m-2"><a {...attrs}>{text}</a></li>;
          })
        }
      </ul>
    ))}
  </nav>
</footer>
