---
type Props = { class?: string };

const { class: className } = Astro.props;
---

<footer class:list={[
  "font-redhat font-450 text-sky-950",
  className
]}>
  <ul class="
    flex mx-auto justify-center
    [&_li]:px-3 divide-x-2
    sm:[&_li]:px-4
  ">
    <li>
      <a
        href="/resume"
        class="
          transition duration-200 hover:text-sky-500
          underline underline-offset-2 decoration-0 decoration-transparent
          hover:decoration-current hover:decoration-1
        "
      >
        Resume
      </a>
    </li>
    <li>
      <a
        href="https://github.com/sanman1k98/www"
        rel="noreferrer noopener"
        target="_blank"
        class="
          transition duration-200 hover:text-sky-500
          underline underline-offset-2 decoration-0 decoration-transparent
          hover:decoration-current hover:decoration-1
        "
      >
        Site source
      </a>
    </li>
    <li>
      <span>&copy; {new Date().getFullYear()}</span>
      <span class="hidden sm:inline"> Sandeep Dilip</span>
    </li>
  </ul>
</footer>
