---
type Props = { class?: string };
---

<footer
  class="text-sky-950 font-recursive"
  class:list={[Astro.props.class]}
>
  <ul class="mx-auto flex justify-center divide-x-2 [&_li]:px-3 sm:[&_li]:px-4">
    <li>
      <a
        href="/resume"
        class="underline decoration-2 decoration-transparent underline-offset-3 transition duration-200 hover:text-sky-500 hover:decoration-current"
      >
        Resume
      </a>
    </li>
    <li>
      <a
        href="https://github.com/sanman1k98/www"
        rel="noreferrer noopener"
        target="_blank"
        class="underline decoration-2 decoration-transparent underline-offset-3 transition duration-200 hover:text-sky-500 hover:decoration-current"
      >
        Site source
      </a>
    </li>
    <li>
      <span>&copy; {new Date().getFullYear()}</span>
      <span class="hidden sm:inline"> Sandeep Dilip</span>
    </li>
  </ul>
</footer>
