<div class="p-2 shadow-black-400">
  <a href="/" class:list={[
    "px-5 py-1",
    "text-2xl font-bold text-zinc-600",
    "transition duration-200 hover:text-cyan-600",
  ]}>
    Sandeep Dilip
  </a>
</div>
