<div class="m-2 shadow-black-400">
  <a href="/" class:list={[
    "text-4xl font-quicksand text-zinc-600",
    "transition duration-200 hover:text-cyan-600",
  ]}>
    <span>nice</span><span>sandeep</span>
  </a>
</div>
