<div class="m-2 shadow-black-400">
  <a href="/" class:list={[
    "text-4xl font-450 tracking-tight font-quicksand text-sky-950",
    "transition duration-200 hover:text-sky-500",
  ]}>
    <span>nice</span><span>sandeep</span>
  </a>
</div>
