---
type Props = { class?: string };
---

<style>
.logo-char {
  transition-duration: 200ms;
  display: inline-block;
  color: transparent;
  background-clip: text
}

@media (min-width: 500px) {
  .logo-char { display: inline-block !important }
}

@media (hover: hover), (any-hover: hover) {
  .logo-char:hover { color: rgb(255 255 255 / 0.6) }
  .logo-char:hover+*, .logo-char:has(+:hover) {
    color: rgb(255 255 255 / 0.3);
  }
}
</style>

<div class:list={[Astro.props.class]}>
  <a href="/" class="
    inline-block p-4 text-5xl
    font-quicksand font-500 tracking-tighter bg-clip-text
    bg-gradient-to-r from-30% from-sky-600 to-70% to-pink-500
  ">
    {
      [
        Array.from("nice", (char, i) => (
          <span class:list={[i && "hidden!", "logo-char"]}>{char}</span>
        )),
        Array.from("sandeep", (char, i) =>
          (<span class:list={[i && "hidden!", "logo-char logo-s"]}>{char}</span>
        ))
      ]
    }
  </a>
</div>
