---
type Props = { class?: string };

const { class: className } = Astro.props;
---

<div class:list={[className, "relative m-2"]}>
  {/*
    Subtle drop-shadow-like effect uring a blurred div; increases text contrast
    against background
  */}
  <div class="-z-50 absolute inset-0 bg-white blur-lg"/>
  <a href="/" class:list={[
    "text-4xl font-quicksand font-450 text-sky-950 tracking-tight",
    "transition duration-200 hover:text-sky-500",
  ]}>
    <span>nice</span><span>sandeep</span>
  </a>
</div>
