---
type Props = { class?: string };
const words = ["nice", "sandeep"];
---

<div class:list={[Astro.props.class, "relative"]}>
  {/*
    Subtle drop-shadow-like effect uring a blurred div; increases text contrast
    against background
  */}
  <div class="-z-50 absolute inset-0 bg-white blur-lg"/>
  <a href="/" class="
    inline-block p-1
    text-5xl
    font-quicksand font-450 tracking-tight
    bg-gradient-to-r from-30% from-sky-600 to-70% to-pink-500
    bg-clip-text text-transparent
  ">
    {
      words.map(word => Array.from(word, ((char, i) => (
        <span class={`
          ${i === 0 ? "inline-block" : "hidden"}
          media-[(min-width:580px)]:inline-block
          transition duration-200
          @hover:text-white/60
          [&:hover+*,&:has(+:hover)]:text-white/30
        `}>
          {char}
        </span>
      ))))
    }
  </a>
</div>
