<div class="rounded-full bg-white p-2 shadow-md shadow-black-400">
  <a href="/" class="rounded-full px-5 py-1 text-xl font-bold text-zinc-600 transition duration-200 hover:text-cyan-600">
    Sandeep Dilip
  </a>
</div>
