---
import memoji from "@/assets/memoji.png";

type Props = { class?: string };

const { class: className } = Astro.props;
---

<div class:list={[
  className,
  "relative"
]}>
  <div class="-z-50 absolute inset-0 bg-gradient-to-tr from-slate-300 blur-3xl"></div>
  <div class="w-42 sm:w-48 lg:w-56 m-3 rounded-full border-9 border-white bg-gradient-to-tr from-sky-400 shadow-xl hover:border-6 hover:brightness-105 hover:shadow-2xl hover:scale-105 hover:-translate-y-1 transform-gpu transition-all duration-500 ease">
    <img
      src={memoji.src}
      width={memoji.width}
      height={memoji.height}
      alt="Sandeep Dilip's Memoji"
      class="object-scale-down rounded-full shadow-inner shadow-sky-50 hover:shadow-transparent hover:scale-105 hover:-translate-y-1 hover:-skew-x-1 hover:drop-shadow-md hover:rotate-1 transform-gpu transition-all duration-350 ease"
    >
  </div>
</div>
