---
import { Image } from "astro:assets";
import memoji from "@/assets/memoji.png";

type Props = { class?: string };

const { class: className } = Astro.props;
---

<div class:list={[className, "relative"]}>
  <div class="
    rounded-full
    outline outline-white outline-8 md:outline-10 lg:outline-12
    bg-gradient-to-tr from-sky-300
    shadow-xl
    transform-gpu transition-all duration-500
    hover:shadow-2xl
    hover:brightness-105
    hover:scale-105 hover:-translate-y-1
  ">
    <Image
      src={memoji}
      alt="Sandeep Dilip's Memoji"
      class={`
        object-scale-down rounded-full
        shadow-inner shadow-sky-50
        transform-gpu transition-all duration-350
        hover:shadow-transparent hover:drop-shadow-md
        hover:scale-105 hover:-translate-y-1 hover:-skew-x-1 hover:rotate-1
      `}
    >
  </div>
</div>
