---
type Props = { class?: string };

function isCurrent(href: string): 'page' | false {
  const { pathname } = Astro.url;
  const current = (pathname === href)
  	|| (href !== '/' && pathname.startsWith(href));
  return current && 'page';
}

const pages = Array.from(
  [
    { text: 'Home', href: '/' },
    { text: 'Photos', href: '/photos' },
    { text: 'Contact', href: '/contact' },
  ],
  (page) => ({ ...page, 'aria-current': isCurrent(page.href) }),
);
---

<style>
	a::after {
		@apply absolute content-[''] bottom-2 inset-x-0 h-[2.5px] bg-transparent;
		margin-inline-start: var(--line-ms);
		width: var(--line-w);
	}
	a[aria-current="page"]::after {
		@apply bg-sky-600;
		margin-inline-start: var(--line-ms-current);
		width: var(--line-w-current);
	}

	@media (hover: hover), (any-hover: hover) {
		li {
			@apply transition-opacity duration-500 ease-out hover:duration-300 group-hover:opacity-75 group-hover:hover:opacity-100;
		}
		a {
			@apply transition duration-500 ease-out hover:duration-200 hover:font-semibold group-hover:opacity-75 group-hover:hover:opacity-100;
		}
		a::after {
			@apply transition-all ease-in duration-100 w-1/5;
		}
		a[aria-current="page"]::after {
			@apply bg-sky-600;
			margin-inline-start: var(--line-ms-current);
			width: var(--line-w-current);
		}
		a:hover::after {
			@apply bg-sky-400 ease-out;
			margin-inline-start: var(--line-ms);
			width: var(--line-w);
		}
	}
</style>

<nav class="text-sky-950 font-rec" class:list={[Astro.props.class]}>
	<ul class="group w-max flex divide-x-1">
		{
			pages.map((link) => {
				const { text, ...attrs } = link;
				return (
					<li class="">
						<a
							{...attrs}
							style={{
								"--p": "0.75rem",
								"--line-ms": "0.5rem",
								"--line-w": "calc(100% - calc(2 * var(--line-ms)))",
								"--line-ms-current": "var(--p)",
								"--line-w-current": "calc(100% - calc(2 * var(--line-ms-current)))",
								padding: "var(--p)",
							}}
							class="relative aria-[current=page]:font-medium"
						>
							{text}
						</a>
					</li>
				);
			})
		}
	</ul>
</nav>
