---
import { links } from "@/content";

const pages = links.pages
  .map(page => {
    // Filter out pages that I don't want in the component
    switch (page.text.toLowerCase()) {
      case "resume": return;
    }
    // Find out which page is the current one
    const current = Astro.url.pathname === page.href
      || (page.href !== '/' && Astro.url.pathname.startsWith(page.href));
    return { "aria-current": current, ...page };
  });
---
<nav>
  <ul class="flex w-max rounded-full bg-white p-2 shadow-md shadow-black-400">
    {
      pages.map(link => {
        if (!link) return;
        const { text, ...attrs } = link;
        return (
          <li class="font-redhat font-500 text-sm text-zinc-600">
            <a
              class:list={[
                "py-1 px-2",
                "transition duration-200 hover:text-cyan-500",
                link["aria-current"] && "text-cyan-600",
              ]}
              { ...attrs }
            >
              {text}
            </a>
          </li>
        )
      })
    }
  </ul>
</nav>
