---
const links: { label: string, href: string }[] = [
  { label: "Home", href: "/" },
  { label: "Work", href: "/work" },
  { label: "About", href: "/about" },
];

if (import.meta.env.DEV) links.push({
  label: "Resume", href: "/resume",
});
---
<nav >
  <ul class="flex w-min rounded-full bg-white p-2 shadow-md shadow-black-400">
    {
      links.map(({ label, href }) => (
        <li class="text-zinc-600 text-sm">
          <a
            aria-current={Astro.url.pathname === href}
            class:list={[
              "rounded-full",
              "py-1 px-2",
              "transition duration-200 hover:text-cyan-500",
              {
                "text-cyan-600":
                  Astro.url.pathname === href ||
                  (href !== '/' && Astro.url.pathname.startsWith(href)),
              },
            ]}
            href={href}
          >
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
