---
import type { HTMLAttributes } from 'astro/types';
import Meta from '@/components/HeadMeta.astro';
import '@fontsource-variable/quicksand';
import '@fontsource-variable/recursive/full.css';
import '@fontsource-variable/shantell-sans/full.css';

type Props = HTMLAttributes<'body'> & {
  'title': string;
  'description'?: string;
  /** Content for the `theme-color` meta tag. */
  'theme-color'?: string;
};

const {
  class: className,
  style,
  'theme-color': themeColor = '#FFF',
  ...meta
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<Meta {...meta} />
		<meta name="theme-color" content={themeColor} />
		<slot name="head" />
	</head>
	<body class={className} {style}>
		<slot />
	</body>
</html>
