---
import "@fontsource-variable/quicksand";
import "@fontsource-variable/red-hat-display";
import Meta from '@/components/HeadMeta.astro';

interface Props {
  title: string,
  description?: string,

  /** Styles the `<body>` element. */
  class?: string,
};

const { class: className, ...meta } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Meta { ...meta } />
  </head>
  <body class={className}>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Cascadia Code PL";
    src: url("/fonts/CascadiaCodePL.woff2") format("woff2");
    font-style: normal;
    font-weight: 200 700;
  }
  @font-face {
    font-family: "Cascadia Code PL";
    src: url("/fonts/CascadiaCodePLItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 200 700;
  }
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
    --background-gradient: linear-gradient(10deg, rgba(var(--accent), 0.4), white 40%, whitesmoke 80%)
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #F6F6F6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
