---
import { unoTheme } from "@/utils";
import "@fontsource-variable/quicksand";
import "@fontsource-variable/red-hat-display";
import Meta from "@/components/HeadMeta.astro";

type Props = {
  title: string;
  description?: string;
  /** Classes to add to the `<body>` element. */
  class?: string;
  /** Styles to add to the `<body>` element. */
  style?: string;
  /** Content for the `theme-color` meta tag. */
  themeColor?: string;
};

const {
  class: className,
  style,
  themeColor = unoTheme.colors.sky[50],
  ...meta
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Meta {...meta} />
    <meta name="theme-color" content={themeColor} />
    <slot name="head" />
  </head>
  <body class={className} {style}>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Cascadia Code PL";
    src: url("/fonts/CascadiaCodePL.woff2") format("woff2");
    font-style: normal;
    font-weight: 200 700;
  }
  @font-face {
    font-family: "Cascadia Code PL";
    src: url("/fonts/CascadiaCodePLItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 200 700;
  }
</style>
