---
import BaseLayout from "./BaseLayout.astro";
import Banner from "@/components/Banner.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
  description?: string;

  /**
   * Styles the `<main>` element.
   */
  class?: string;
};

const { class: className, ...head } = Astro.props;
---

<style is:global>
  #background-filter {
    filter: url(#noise);
  }
</style>

<BaseLayout { ...head }>
  <Banner class="absolute inset-x-0 top-0"/>
  <main class:list={[
    className,
    "relative min-h-screen",
  ]}>
    <div
      class="
        -z-50 absolute inset-0
        bg-gradient-to-b from-sky-50
      "
    />
    <div
      id="background-filter"
      class="
        -z-50 absolute inset-0
      "
    />
    <slot />
  </main>
  <Footer />
  <svg xmlns="http://www.w3.org/2000/svg">
    <filter id="noise">
      <feTurbulence baseFrequency="0.001 0.01"/>
    </filter>
    <rect filter="url(#noise)"/>
  </svg>
</BaseLayout>
