---
import BaseLayout from "./BaseLayout.astro";
import Banner from "@/components/Banner.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
  description?: string;

  /**
   * Styles the `<main>` element.
   */
  class?: string;
};

const { class: className, ...head } = Astro.props;
---

<BaseLayout class="relative" { ...head }>
  <div>
    {/* NOTE: Firefox cannot apply CSS filters using `<svg>` elements with `display: none;` */}
    <svg class="invisible h-0 w-0">
      <defs>
        <filter id="noise">
          <feTurbulence baseFrequency="0.001 0.01"/>
        </filter>
      </defs>
    </svg>

    {/* A simple Perlin noise pattern using the SVG filter above */}
    <div class="-z-50 absolute inset-0" style="filter: url(#noise);"/>

    {/* A gradient on top of the noise pattern */}
    <div class="
      -z-50 absolute inset-0
      mix-blend-normal
      bg-gradient-to-b
      from-50% from-sky-50/85
      via-90% via-sky-100/60
    "/>

    {/* A gradient at the bottom of the page*/}
    <div class="
      -z-50 absolute inset-x-0 bottom-0 h-96
      mix-blend-normal
      bg-gradient-to-b
      from-transparent
      to-50% to-white
    "/>
  </div>

  <Banner class="absolute inset-x-0 top-0"/>
  <main class:list={["min-h-screen", className]}>
    <slot />
  </main>
  <Footer />
</BaseLayout>
