---
import BaseLayout from "./BaseLayout.astro";
import Perlin from "@/components/Perlin.astro";
import Banner from "@/components/Banner.astro";
import Footer from "@/components/Footer.astro";

type Props = {
  title?: string;
  description?: string;
  /** Classes to add to the `<main>` element. */
  class?: string;
  /** Styles to add to the `<main>` element. */
  style?: string;
  /** Absolutely position the banner at the top. */
  "fixed-banner"?: boolean;
};

const {
  title: titleString,
  description: descString,
  class: className,
  style,
  "fixed-banner": fixedBanner = true,
  ...attrs
} = Astro.props;

const title = titleString
  ? (titleString + " | nicesandeep")
  : "nicesandeep";
const description = descString ?? "Sandeep Dilip's personal website"
---

<style is:global>
  body { background-color: white }
  main {
    padding-inline: env(safe-area-inset-left) env(safe-area-inset-right);
  }
</style>

<BaseLayout {title} {description} themeColor="#FFFFFF" class="relative">
  {/* A noise pattern background to fill the whole page. */}
  <Perlin class="absolute inset-0 -z-50">
    {/* A gradient on top of the noise. */}
    <div class="absolute inset-0 bg-gradient-to-b from-50% from-sky-50/85 via-90% via-sky-100/60"></div>
  </Perlin>

  {/* Site logo and navigation components. */}
  <Banner fixed={fixedBanner} class="pb-1"/>

  {/* Slot for main content. */}
  <main
    {style}
    class:list={["min-h-screen text-sky-950", className]}
    { ...attrs }
  >
    <slot />
  </main>

  {/* Other links and copyright information. */}
  <Footer class:list={[
    "w-full pt-48 pb-12",
    "bg-gradient-to-b from-transparent to-50% to-white"
  ]}/>
</BaseLayout>
