---
import BaseLayout from "./BaseLayout.astro";
import Perlin from "@/components/Perlin.astro";
import Banner from "@/components/Banner.astro";
import Footer from "@/components/Footer.astro";

type Props = {
  title?: string;
  description?: string;

  /** Classes to add to the `<main>` element. */
  class?: string;

  /** Styles to add to the `<main>` element. */
  style?: string;

  /** Absolutely position the banner at the top; defaults to true.*/
  "inset-banner"?: boolean;
};

const {
  title: titleString,
  description: descString,
  class: className,
  style,
  "inset-banner": insetBanner = true,
  ...attrs
} = Astro.props;

const title = titleString
  ? (titleString + " | nicesandeep")
  : "nicesandeep";
const description = descString ?? "Sandeep Dilip's personal website"
---

<style is:global>
  body { background-color: theme("colors.sky.50") }
  main {
    padding-inline: env(safe-area-inset-left) env(safe-area-inset-right);
  }
</style>

<BaseLayout {title} {description} class="relative">
  {/* Background to fill the whole page. */}
  <Perlin class="absolute inset-0 -z-50"/>

  {/* Site logo and navigation components. */}
  <Banner inset={insetBanner} class="py-[3vh] sm:py-8"/>

  {/* Slot for main content. */}
  <main
    transition:animate="fade"
    {style}
    class:list={["min-h-screen", className]}
    { ...attrs }
  >
    <slot />
  </main>

  {/* Other links and copyright information. */}
  <Footer class:list={[
    "w-full pt-48 pb-12",
    "bg-gradient-to-b",
    "from-transparent",
    "to-50% to-white"
  ]}/>
</BaseLayout>
