---
import { ViewTransitions } from "astro:transitions";
import BaseLayout from "./BaseLayout.astro";
import Perlin from "@/components/Perlin.astro";
import Banner from "@/components/Banner.astro";
import Footer from "@/components/Footer.astro";

type Props = {
  title: string;
  description?: string;

  /**
   * Styles the `<main>` element.
   */
  class?: string;
};

const { title: titleString, description } = Astro.props;
const title = titleString
  ? (titleString + " | nicesandeep")
  : "nicesandeep";
---

<BaseLayout {title} {description} class="relative">
  <ViewTransitions slot="head"/>
  <Perlin />
  <Banner class="absolute inset-x-0 top-0 mt-[3vh] sm:mt-8"/>
  <main transition:animate="fade" class:list={["min-h-screen", Astro.props.class]}>
    <slot />
  </main>
  <Footer />
</BaseLayout>
