---
import BaseLayout from "./BaseLayout.astro";
import Banner from "@/components/Banner.astro";

interface Props {
  title: string;
  description?: string;

  /**
   * Styles the `<main>` element.
   */
  class?: string;
};

const { class: className, ...head } = Astro.props;
---

<BaseLayout { ...head }>
  <Banner />
  <main class:list={["min-h-screen", className]}>
    <slot />
  </main>
</BaseLayout>
