---
import BaseLayout from "./BaseLayout.astro";
import Perlin from "@/components/Perlin.astro";
import Banner from "@/components/Banner.astro";
import Footer from "@/components/Footer.astro";

type Props = {
  title?: string;
  description?: string;

  /**
   * Styles the `<main>` element.
   */
  class?: string;
};

const { title: titleString, description } = Astro.props;
const title = titleString
  ? (titleString + " | nicesandeep")
  : "nicesandeep";
---

<BaseLayout {title} {description} class="relative">
  {/* Background to fill the whole page. */}
  <Perlin class="absolute inset-0 -z-50"/>

  {/* Site logo and navigation components. */}
  <Banner class="absolute inset-x-0 top-0 mt-[3vh] sm:mt-8"/>

  {/* Slot for main content. */}
  <main transition:animate="fade" class:list={["min-h-screen", Astro.props.class]}>
    <slot />
  </main>

  {/* Other links and copyright information. */}
  <Footer class:list={[
    "w-full pt-48 pb-12",
    "bg-gradient-to-b",
    "from-transparent",
    "to-50% to-white"
  ]}/>
</BaseLayout>
