---
import Banner from '@/components/Banner.astro';
import Footer from '@/components/Footer.astro';
import Perlin from '@/components/Perlin.astro';
import { unoTheme } from '@/lib/theme';
import BaseLayout, { type HeadMetaProps } from './BaseLayout.astro';

const META_THEME_COLOR = unoTheme.colors.sky[200];

type Props = HeadMetaProps & {
	/** Will be added to the `<main>` element. */
	class?: string;
};

const { class: className, ...meta } = Astro.props;
---

<style is:global>
	.safe-area-padding {
		padding-inline: env(safe-area-inset-left) env(safe-area-inset-right);
	}
</style>

<BaseLayout class="relative min-h-screen flex flex-col bg-sky-50" {...meta}>
	<Fragment slot="head">
		<meta name="theme-color" content={META_THEME_COLOR} />
		<slot name="head" />
	</Fragment>
	{/* A noise pattern background to fill the whole page. */}
	<Perlin class="absolute inset-0 -z-50" />
	<div class="absolute inset-0 from-sky-50/85 via-sky-100/60 from-50% via-90% bg-gradient-to-b -z-50" />
	<Banner class="pb-1" fixed={true} />
	<main class="grow text-sky-950" class:list={[className]}>
		<slot />
	</main>
	<Footer class="w-full from-transparent to-white to-50% bg-gradient-to-b pb-18 pt-48" />
</BaseLayout>
